# Docker Environment Variables

# Define the ports of the services being used in docker-compose.yml
WEB_PORT=80
WEB_PORT_SECURE=443
PHP_PORT=9000
MYSQL_PORT=3306


# 1. NGINX
WEB_DOCUMENT_ROOT=
WEB_SERVER_NAME=localhost
WEB_SERVER_ALIAS=localhost
WEB_LOG_DIR=


# 2. MySQL/MariaDB
DB_ROOT_PASSWORD=
MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=


# 3. PHP
PHP_DATE_TIMEZONE=
PHP_ERROR_REPORTING=
PHP_UPLOAD_MAX_FILESIZE=0M
PHP_POST_MAX_SIZE=0M
PHP_MEMORY_LIMIT=0M
PHP_XDEBUG_MODE=debug
PHP_XDEBUG_CLIENT_HOST=
PHP_XDEBUG_CLIENT_PORT=
PHP_XDEBUG_IDE_KEY=
PHP_REDIS_CLUSTERS_READ_TIMEOUT=0
PHP_REDIS_CLUSTERS_CACHE_PERSISTENT=0



# Laravel - Copy the env variables from working_laravel/.env file here
