# Docker Environment Variables

# Define the ports of the services being used in docker-compose.yml
WEB_PORT=80
WEB_PORT_SECURE=443


WEB_ROOT=/var/www/html/
WEB_SERVER_NAME=localhost
WEB_SERVER_ALIAS=localhost
WEB_LOG_DIR=/etc/log/